body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #000; */
  overflow: hidden;
}

canvas {
  /* border: 1px solid #000; */
  background-color: #000;
  width: 800px;
  height: 600px;
  /* width: 100%; */
  /* height: 100%; */
  display: block;
  /* Prevent blurring of scaled canvas */
  image-rendering: pixelated;
}
